@import url('https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif; 
}

header {
  display: flex;
}

.logo {
  padding: 10px;
}

.logo h1 {
  font-family: "Forum", serif;
  border-left: 2px solid #000;
  padding-left: 10px;
  font-size: 24pt;
}

.menu {
  display: flex;
  margin-top: 80px;
  width: 350px;
  margin-left: -110px;
  padding: 10px;
}

.menuItem {
  text-decoration: none;
  list-style: none;
  margin: 10px;
  font-size: 9pt;
  color: #000;
  font-weight: 500;
}

.iconsMenu {
  display: flex;
  position: absolute;
  margin-top: -110px;
  margin-left: 90px;
}

.iconItem {
  list-style: none;
  margin: 10px;
  font-size: 11pt;
  color: #000;
}

.hero {
  margin-top: 30px;
}

.heroText {
  margin-top: 40px;
  margin-left: 25px;
  position: absolute;
}

.heroText h1 {
  width: 220px;
  font-size: 24pt;
  font-weight: 600;
}

.heroText input {
  background-color: #0d6b68;
  color: #fff;
  border: 1px solid #000;
  font-size: 12pt;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.hero img {
  width: 250px;
  margin-left: 120px;
  border-radius: 10px;
}

.bottomInfo {
  background-color: #d6d6d6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 40px 0;
}

.card {
  width: 30%;
  padding: 20px;
  font-size: 12pt;
  text-align: center;
}

.card h4 {
  font-weight: 400;
}

.card i {
  font-size: 20pt;
  margin-bottom: 10px;
}

.ourHistory {
  margin-top: 80px;
}

.ourHistoryText {
  width: 300px;
  margin: 50px;
  border-left: 2px solid #0d6b68;
  padding-left: 10px;
}

.ourHistoryText h1 {
  font-size: 22pt;
}

.ourHistoryText input {
  padding: 10px;
  background-color: #0d6b68;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.videoFake {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoFake img {
  width: 300px;
  border-radius: 10px;
}

.videoFake i {
  position: absolute;
  font-size: 24pt;
}

.ourTeam {
  margin: 80px 50px;
}

.teamText {
  width: 300px;
  border-left: 2px solid #0d6b68;
  padding-left: 10px;
}

.teamText h1 {
  font-size: 22pt;
}

.teamText input {
  padding: 10px;
  background-color: #0d6b68;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.ourTeam img {
  width: 350px;
  margin-left: -25px;
  margin-top: 30px;
  border-radius: 10px;
}

.portfolioText {
  border-left: 2px solid #0d6b68;
  padding-left: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 300px;
}

.portfolioText h1 {
  font-size: 22pt;
}

.portfolioText a {
  color: #0d6b68;
  border-left: 2px solid #104d10;
  border-bottom: 2px solid #104d10;
  padding: 8px;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  margin-left: 160px;
  margin-top: 300px;
  font-size: 16pt;
}

.portfolioText i {
  font-size: 16pt;
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card img {
  width: 160px;
  border-radius: 10px;
}

.imgCover {
  background: linear-gradient(360deg, rgba(13, 107, 104, .5), rgba(13, 107, 104, .5), rgba(196, 245, 196, .0));
  width: 40%;
  height: 10%;
  margin-top: 110px;
  position: absolute;
  border-radius: 10px;
}

.coverText {
  color: #fff;
  text-shadow: 1px 1px 2px #104d10;
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  width: 120px;
}

.coverText h3 {
  font-size: 12pt;
}

.coverText p {
  font-size: 10pt;
}

.contact {
  background-color: #d6d6d6;
  margin-top: 50px;
  padding: 30px 0;
}

.contact h1 {
  font-size: 22pt;
  width: 280px;
  margin-left: 50px;
  border-left: 2px solid #104d10;
  padding: 10px;
}

.form {
  padding: 30px;
  margin-left: 50px;
}

.form input {
  border: none;
  padding: 10px;
}

.form input:focus {
  outline: none;
}

.form input::placeholder {
  color: #104d10;
}

.form input[type='button'] {
  background-color: #0d6b68;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #0d6b68;
  margin-top: 50px;
  padding: 20px;
  display: flex;
}

footer .logo {
  color: #fff;
}

footer h4 {
  position: absolute;
  margin-left: 200px;
  color: #fff;
  font-size: 12pt;
}

footer .links {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-top: 30px;
}

.social {
  margin-right: 30px;
}

.socialItem {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.footer-menuItem {
  list-style: none;
  color: #fff;
}

footer p {
  position: absolute;
  background-color: #0d6b68;
  color: #fff;
  margin-top: 139px;
  height: 30px;
  width: 100%;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
  margin-left: -20px;
}

footer p a {
  color: #fff;
}

@media screen and (min-width: 800px)  {
  .menu {
    margin-top: 90px;
    width: 600px;
    justify-content: space-around;
  }
  
  .menuItem {
    font-size: 12pt;
  }

  .hero img {
    margin-left: 300px;
    width: 400px;
  }

  .heroText {
    margin-left: 140px;
  }

  .heroText h1 {
    font-size: 36pt;
    width: 260px;
    margin-top: 30px;
  }

  .heroText input {
    padding: 25px;
    font-size: 15pt;
    margin-top: 30px;
  }

  .ourHistory {
    display: flex;
  }

  .ourHistoryText p {
    font-size: 12pt;
  }

  .ourHistoryText input {
    padding: 20px;
    font-size: 12pt;
    margin-top: 20px;
  }

  .videoFake img {
    width: 400px;
    margin-left: -40px;
  }

  .ourTeam {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
    margin-bottom: 120px;
  }

  .teamText {
    padding: 20px;
    border-left: none;
    border-right: 2px solid #0d6b68;
  }

  .teamText p {
    font-size: 12pt;
  }

  .teamText input {
    padding: 20px;
    font-size: 12pt;
    margin-top: 20px;
  }

  .portfolioText p {
    font-size: 12pt;
  }

  .cardGrid {
    display: flex;
  }

  .card img {
    width: 220px;
  }

  .card .imgCover {
    width: 27.1%;
    margin-left: 6px;
    margin-top: 150px;
  }

  .coverText {
    margin-top: 30px;
  }

  .portfolioText a {
    position: absolute;
    margin-top: -50px;
    margin-left: 550px;
    border-left: none;
    border-right: 2px solid #104d10;
  }
  
  .contact {
    display: flex;
    padding: 30px;
    margin: 100px 0;
  }

  .contact input {
    padding: 15px;
    margin-top: 20px;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  footer h4 {
    margin-left: 400px;
  }

  footer p {
    margin-left: -40px;
  }
} 

@media screen and (min-width: 1200px) {
  .logo {
    padding: 20px;
  }

  .menu {
    margin-left: 250px;
  }

  .iconsMenu {
    margin-left: 1000px;
  }

  .hero img {
    margin-left: 500px;
  }

  .heroText h1 {
    margin-left: 200px;
  }

  .heroText input {
    font-size: 12pt;
    padding: 20px;
    margin-top: 20px;
    margin-left: 200px;
  }

  .bottomInfo {
    position: absolute;
    margin-left: 750px;
    margin-top: -290px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background: transparent;
  }

  .ourHistory {
    justify-content: space-around;
    margin-top: 180px;
  }

  .ourHistoryText p {
    font-size: 13pt;
    width: 400px;
  }

  .ourTeam {
    justify-content: space-around;  
    margin-top: 180px;
  }
  
  .ourTeam img {
    width: 400px;
    margin-top: -10px;
  }

  .teamText h1 {
    margin-left: -50px;
  }

  .teamText p {
    margin-left: -50px;
    font-size: 13pt;
    width: 400px;
  }

  .teamText input {
    margin-left: -50px;
  }

  .portfolioText {
    margin-left: 100px;
  }

  .portfolioText a {
    margin-left: 750px;
  }

  .card img {
    width: 300px;
  }

  .card .imgCover {
    width: 22.8%;
    margin-left: 48px;
    margin-top: 251px;
    height: 15%;
  }

  .contact {
    justify-content: space-around;
  }

  footer p {
    margin: 140px 20px;
  }

  footer h4 {
    margin-left: 590px;
  }

  footer .logo h1 {
    margin-left: -240px;
    border-left: 2px solid #fff;
  }
}